@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* dont let borders effect size of an element */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align top to bottom */
  justify-content: center;
  /* take up entire height of browser */
  height: 100vh;
  /* hide scrollbars */
  overflow: hidden;
  margin: 0;
}
